# Dépendances
node_modules/

# Fichiers d'environnement
.env
.env.*

# Fichiers générés par les éditeurs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Fichiers système
.DS_Store
Thumbs.db

# Journaux
*.log
